/* .add-meal-form {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}
.add-meal-form div {
    width: 7.5rem;
    display: flex;
    justify-content: space-between;
}

.add-meal-form label{
    font-weight:900;
    font-size: medium;
}

.add-meal-form input{
    width: 2.5rem;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px;
    padding-left: 5px;
} */

.form {
    text-align: right;
}
.add-button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
      
.add-button:hover,
.add-button:active {
background-color: #641e03;
border-color: #641e03;
}
